[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = vim
{{- if eq .chezmoi.os "darwin" }}
    autocrlf = input
{{- else if eq .chezmoi.os "linux" }}
    autocrlf = input
{{- end }}

[init]
    defaultBranch = main

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk